.sidebar-holder div {
  padding: 0;
  overflow-x: hidden;
}

.input-field span {
  margin-left: 12px;
  margin-right: 12px;
}

.input-field label {
  margin-top: 10px;
  margin-left: 10px;
}



.activeNav {
  color: #555 !important;
  background-color: #e7e7e7 !important;
}

.mapBackgroundColor {
  background-color: pink;
  color: black;
}
